html{
  background-color:rgb(238, 224, 224);

}

.container-fluid{
  background-color:rgb(238, 224, 224);

}

input[type="text"]{
  background: transparent;
  color:black;
  

}

input[type="text"]:focus {
  background: transparent;
  color: rgb(46, 32, 32);
}
